.card-container {
    background-color: #282D33;
    padding: 35px;
    margin-top: 50px;
    border-radius: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}