@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.header {
    font-weight: 600 !important;
    color: #B6C2CF!important;
}

.title {
    font-weight: 700 !important;
    color: white !important;
}

.title:hover {
    cursor: text;
}

.card {
    height: 200px;
    border-radius: 10px;
}

.delete-icon {
    opacity: 0;
    display: flex;
    justify-content: end;
}

.card:hover {
    cursor: pointer;
    filter: brightness(85%);

    .delete-icon {
        opacity: 1;
        filter: brightness(100%);
    }
}

.add-card {
    display: flex;
    background-color: #282E34;
    align-items: center;
    justify-content: center;
}

.add-card:hover {
    cursor: pointer;
    filter: brightness(125%);
}

.popover {
    z-index: 1000;
    position: absolute;
    left: 102%;
    top: -10%;
    width: 300px;
    border: 1px solid #363F47;
    background-color: #282E33;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.full-width {
    width: 100%;
}

.board-input-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: white !important;
}

.boards-button:hover {
    filter: brightness(125%);
    cursor: pointer;
}

.horizontal-scrollable-container {
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px;
    padding-bottom: 20px;
}

.horizontal-scrollable-container::-webkit-scrollbar {
    background-color: #424242;
    border-radius: 10px;
    height: 5px;
    margin: 20px;
}

.horizontal-scrollable-container::-webkit-scrollbar-thumb {
    background-color: #686868;
    border-radius: 5px;
}

.vertical-scrollable-container {
    overflow-y: auto;
    max-height: 400px;
}

.vertical-scrollable-container::-webkit-scrollbar {
    background-color: #424242;
    border-radius: 10px;
    width: 5px;
    margin: 20px;
}

.vertical-scrollable-container::-webkit-scrollbar-thumb {
    background-color: #686868;
    border-radius: 5px;
}

.card-list-width {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.list-input-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
    font-size: 16px !important;
    color: #B6C2CF !important;
}

.card-input-font {
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    color: #B6C2CF !important;
}

.card-dialog {
    background-color: #323940;
    width: 500px;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hover-card:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.red-span {
    color: red
}

.add-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    padding: 15px 30px 15px 10px;
    background-color: #282E34;
    color: #B6C2CF;
}